body {
    	    background: url("b2.jpg") no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}
p{
	font-size: 140%;
	font-family:Calibri;
	color: black;
    text-align: center;
	
}
	
h1{
	font-family:Calibri;
	color: black;
	text-align: center;
}
